<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border = "1">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>UUID</th>
        <th>Major</th>
        <th>Minor</th>
        <th>Timedata</th>
        <th>Place</th>
    </tr>
    <% userdata.forEach(function (userdata) { %>
    <tr>
        <td><%= userdata.userName %></td>
        <td><%= userdata.userPhone %></td>
        <td><%= userdata.userEmail %></td>
        <td><%= userdata.UUID %></td>
        <td><%= userdata.Major %></td>
        <td><%= userdata.Minor %></td>
        <td><%= userdata.timeData %></td>
        <td><%= userdata.placeName %></td>
    </tr>
    <% }) %>
    </table>

</body>
</html>
